<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mini.user.mapper.UserMapper">
	
	<!-- 로그인할때 유저정보가져오기 -->
    <select id="selectUserById" resultType="UserVO">
        <![CDATA[
            SELECT
                *
            FROM
                user2
            WHERE
                ID=#{ loginId}
        ]]>
    </select>
    
    <!-- 실패카운트 증가 -->
	<update id="updateFailureCount">
            UPDATE
                user2
            SET
                FAIL_CNT = FAIL_CNT + 1
            WHERE
                ID = #{ loginId}
    </update>
    
    <!-- 실패카운트 체크 -->
	<select id="checkFailureCount" resultType="Integer">
            SELECT
                FAIL_CNT
            FROM
                user2
            WHERE
                ID=#{ loginId}
    </select>

	<!-- 실패카운트 누적 시 계정 잠금 -->
    <update id="updateDisabled">
		<![CDATA[
			UPDATE
				user2
			SET
				ENABLED = false
			WHERE
				ID = #{ loginId}
		]]>
	</update>
	
	<!-- 실패카운트 초기화 -->
	<update id="resetFailureCount">
        UPDATE
            user2
        SET
            FAIL_CNT = 0
        WHERE
            ID = #{ loginId}
	</update>
	
	<insert id="signID" parameterType="UserVO">
		INSERT INTO USER2(
		ID, PASSWORD, NAME
		)VALUES (
		#{ID}
		,#{PASSWORD}
		,#{NAME}
		)
	</insert>
	
	<!--id중복체크 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*)
		FROM USER2
		WHERE ID= #{ID}	
	</select>
	
<sql id="search">
	<if test="searchType != null">
		<if test="keyword !=null">
		<if test="searchType == 'i'.toString()">WHERE ID LIKE CONCAT('%',#{keyword},'%')</if>
		<if test="searchType == 'n'.toString()">WHERE NAME LIKE CONCAT('%',#{keyword},'%')</if>		
	</if>
	</if>
</sql>

<!-- 회원관리 전체 목록 -->
<select id ="list" parameterType="hashMap" resultType="UserVO">
<![CDATA[
	SELECT R1.* FROM(
		SELECT IDX, ID, NAME, AUTHORITY, REGDATE
		FROM USER2
]]>
		<include refid="search" />
		ORDER BY IDX DESC) R1
		LIMIT #{startNo}, #{pageSize}

</select>
 
<!-- 총 게시글 숫자 카운팅 -->
<select id="listCount" parameterType="UserVO" resultType="int">
	SELECT COUNT(IDX)
	    FROM USER2
<include refid="search" />

</select>

<!-- 회원관리 상세 -->
<select id="detail" parameterType="int" resultType="UserVO">
	SELECT IDX
		,ID
		,NAME
		,AUTHORITY
		,REGDATE
		,ENABLED
	FROM USER2
	WHERE IDX = #{IDX}
</select>	

<!-- 게시글 수정 -->
<update id="update" parameterType="UserVO">
	UPDATE USER2
	SET 
		NAME = #{NAME}, 
		AUTHORITY = #{AUTHORITY}
	WHERE
		IDX = #{IDX};
</update>

<!-- 계정 잠금 활성화 -->
<update id="updatEnabled" parameterType="int">

		UPDATE
			user2
		SET
			ENABLED = true,
			FAIL_CNT = 0
		WHERE
			IDX = #{IDX}

</update>

<!-- 비밀번호 초기화 -->
<update id="resetPassword" parameterType="UserVO"  >

		UPDATE
			user2
		SET
			PASSWORD = #{PASSWORD}
		WHERE
			IDX = #{IDX}

</update>
	
 </mapper>
