<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mini.user.mapper.UserMapper">
	
	<!-- 로그인할때 유저정보가져오기 -->
    <select id="selectUserById" resultType="UserVO">
        <![CDATA[
            SELECT
                *
            FROM
                user2
            WHERE
                ID=#{ loginId}
        ]]>
    </select>
    
    <!-- 실패카운트 증가 -->
	<update id="updateFailureCount">
            UPDATE
                user2
            SET
                FAIL_CNT = FAIL_CNT + 1
            WHERE
                ID = #{ loginId}
    </update>
    
    <!-- 실패카운트 체크 -->
	<select id="checkFailureCount" resultType="Integer">
            SELECT
                FAIL_CNT
            FROM
                user2
            WHERE
                ID=#{ loginId}
    </select>

	<!-- 실패카운트 누적 시 계정 잠금 -->
    <update id="updateDisabled">
		<![CDATA[
			UPDATE
				user2
			SET
				ENABLED = false
			WHERE
				ID = #{ loginId}
		]]>
	</update>
	
	<!-- 실패카운트 초기화 -->
	<update id="resetFailureCount">
        UPDATE
            user2
        SET
            FAIL_CNT = 0
        WHERE
            ID = #{ loginId}
	</update>
	
	<insert id="signID" parameterType="UserVO">
		INSERT INTO USER2(
		ID, PASSWORD, NAME
		)VALUES (
		#{ID}
		,#{PASSWORD}
		,#{NAME}
		)
	</insert>
	
	<!--id중복체크 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*)
		FROM USER2
		WHERE ID= #{ID}	
	</select>

	
 </mapper>
