<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
	 	<typeAlias alias="BoardVO" type="com.mini.board.vo.BoardVO" />
	 	<typeAlias alias="PageVO" type="com.mini.common.vo.PageVO" />
	 </typeAliases>
 
</configuration>
